@page "/"

<div class="text-center">
    <p class="text-lead">My name is:  <i>@GetUpperCase(name)</i></p>
</div>

<div class="text-center">
    <div class="alert alert-success">Let's plus two numbers: @(2 + 2)</div>
    <div class="text-left">
        <button class="btn btn-outline-primary" @onclick="@BtnClickHandler">Press me</button>
    </div>
</div>


@code {
    string name = "Batolito";

    string GetUpperCase(string str) => str.ToUpper();

    private void BtnClickHandler() => Console.WriteLine("Just you clicked me");
}