<hr />


<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" @bind="IsShowingDeleteButton" />
    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
</div>

<GenericListing List="this.Movies" >
    <Item>
        <Movie TheMovie="context" OnClickEvent="DeleteMovie" ShowButton="IsShowingDeleteButton"></Movie>
    </Item>
</GenericListing>

@code {
    [Parameter]
    public IList<MovieDto> Movies { get; set; }

    internal bool IsShowingDeleteButton = false;

    public void DeleteMovie(MovieDto movie)
    {
        Movies.Remove(movie);
        Console.WriteLine($"Movie {movie.Title} was deleted");
    }
}
